/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.modal.modal-fixed-footer {
    height: 100%;
}
#price {
    float: right;
    color: red;
}
.price {
    font-weight: 600;
}
.main h3 {
    font-weight: 900;
    background-color: rgba(192, 192, 192, 0.7);
    display: inline;
}

.slider .slides li .caption{
    width:50%;
    top: 25%;
    left: 25%;
}
.parallax {
    float: left;
}
#details_image {
    width: 100%;
}
#tour_details {
    width: 70%;
}
.modal .modal-footer .btn {
    margin: 6px;
}
#Social {
    width: 24px;
}
.btn {
}
#finish {
    width: 100px;
    height: 50px;
}

.card-image h5 {
    background-color: rgba(192, 192, 192, 0.5);

}
