{% extends "base.html" %}
{% block extra_head %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{url_for('static', filename='model.js')}}"></script>
{% endblock %}
{%block content %}
    <div class="container">
        <div class="section"> 
            <div class="row">
                <div class="col s12 m8 offset-m1">
                    <h1>О нас</h1>
                    </p>Этот ресурс создан для всех, кто любит увлекательные путешествия, 
                    саморазвитие и хорошие компании! 
                    Мы сами ищем интересные события и предлагаем их Вам. 
                    Мы делаем для Вас уникальные тренинги, и вы можете приходить к нам снова и снова за 
                    новыми впечатлениями.     
                    Все тренеры, представленные на нашем сайте, являются действующими 
                    профессионалами и имеют опыт проведения выездных мероприятий.
                    Команда сайта - это люди, 
                    знающие туристическую и тренинговую деятельность изнутри.
                    Наш ресурс постоянно растет, 
                    и вы можете пользоваться им каждый раз, идя по пути развития и открытия новых впечатлений.
                    </br>
                    <p>Желаем вам приятного отдыха!</p>

                    <p>Training-tour - это путешествия по всему свету с заранее заложенной тренировочной и развивающей программой. Видов тренировок и практик, как и интересных мест на нашей планете, большое разнообразие. 
                    Фитнес-туры с танцами, кросс-фитом и йогой, релакс-туры с йогой, спа-процедурами, массажами и дыхательными практиками, детокс-туры с жиросжигательными тренировками и правильным питанием, семейные туры с фитнесом для всей семьи, ретриты с випассаной и другими практиками, все, что можно пожелать и придумать. 
                    Любой из вас может придумать свой тур, предложить его нам, и мы вместе его организуем. Ждем ваших предложений и пожеланий! 
                    </br>Улыбайтесь :)
                    </p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
