{% extends "base.html" %}
{%block content %}
    <div class="container">
        <div class="section"> 
            <div class="row">
                <div class="col s12 m8 offset-m1">
                    <h1>О нас</h1>
                    </p>Этот ресурс создан для всех, кто любит увлекательные путешествия, 
                    саморазвитие и хорошие компании! 
                    Мы сами ищем интересные события и предлагаем их Вам. 
                    Мы делаем для Вас уникальные тренинги, и вы можете приходить к нам снова и снова за 
                    новыми впечатлениями.     
                    Все тренеры, представленные на нашем сайте, являются действующими 
                    профессионалами и имеют опыт проведения выездных мероприятий.
                    Команда сайта - это люди, 
                    знающие туристическую и тренинговую деятельность изнутри.
                    Наш ресурс постоянно растет, 
                    и вы можете пользоваться им каждый раз, идя по пути развития и открытия новых впечатлений.
                    </br>
                    <p>Желаем вам приятного отдыха!
                    </p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
