<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Fit-trip</title>

  <!-- CSS  -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link href="static/material-design-icons/iconfont/material-icons.css" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Fit-trip</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Главная</a></li>
        <li><a href="#">О Нас</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {% block content %}{% endblock %}

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Информация о нас</h5>
          <p class="grey-text text-lighten-4">Мы классные ребята проводим спортивные туры по России и всему Миру :).</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Полезные ссылки</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Наши контакты в соц сетях</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="brown-text text-lighten-3">Сайт работает с 2016 года</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
  <script src="static/jquery/dist/jquery.js"></script>
  <script src="static/js/materialize.js"></script>
  <script src="static/js/init.js"></script>
  {%block body_extra %}{% endblock %}
  <script type="text/javascript">

    $(document).ready(function(){
        $('.carousel.carousel-slider').carousel({full_width: true, time_constant: 10});
    });
  </script>
  </body>
</html>
