{% extends "base.html" %}
{%block content %}
    <div class="container">
        <div class="section"> 
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <h1>Наши контакты</h1>
                    <div class="col s12 m5 offset-m1">
                        <p>+7(917)-565-87-74<i class="material-icons left">contact_phone</i></p>
                        <p>+7(965)-100-00-31<i class="material-icons left">contact_phone</i></p>
                        <p>+7(926)-131-90-14<i class="material-icons left">contact_phone</i></p>
                        <p> m.barannik@icloud.com<i class="material-icons left">email</i></p>
                        <a href="https://vk.com/trainingtourcom">
                            <img src="{{url_for('static', filename='images/vk.jpg')}}" id="Social">
                        </a>
                        <a href="https://www.facebook.com/TrainigTour/">
                            <img src="{{url_for('static', filename = 'images/fb.png')}}" id="Social">
                        </a>
                    </div>
                    <div class="col s12 m5">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.0084739931167!2d37.629602315429196!3d55.75835499903188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5eeb0c3425%3A0x52b64772b4352a53!2sper.+Luchnikov%2C+4%D1%812%2C+Moskva%2C+101000!5e0!3m2!1sen!2sru!4v1481446267985" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
