{% extends "base.html" %}
{%block content %}
    <div class="container">
        <div class="section"> 
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <h1>Наши контакты</h1>
                    <p>+7(917)-565-87-74<i class="material-icons left">contact_phone</i></p>
                    <p> m.barannik@icloud.com<i class="material-icons left">email</i></p>
                    <a href="https://vk.com/trainingtourcom">
                        <img src="{{url_for('static', filename='images/vk.jpg')}}" id="Social">
                    </a>
                    <a href="https://www.facebook.com/TrainigTour/">
                        <img src="{{url_for('static', filename = 'images/fb.png')}}" id="Social">
                    </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
