{% extends "base.html" %}
{%block content %}
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">Заказать тур</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>

  <div class="container">
      <div class="section">
          <h1>Ближайшие туры</h1>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/kemer.jpg">
                        <span class="card-title">Фитнесс в Турции</span>
                    </div>
                    <div class="card-content">
                        <p><span class='title'>Турция, Кемер</span></p>
                        <p>3 декабря на 7 ночей</p>
                        <p>Все включено. Фитнес пакет 2 тренировки ежедневно ( танцы, йога, фитнес)</p>
                        <p>Цена: <span class='price'>15 000 на человека</span></p>
                    </div>
                    <div class="card-action">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/phuket.jpg">
                        <span class="card-title">Танцы, Йога, Фитнес на Пхукете</span>
                    </div>
                    <div class="card-content">
                        <p><span class='title'>Тайланд, Пхукет</span></p>
                        <p>5 апреля 14 ночей</p>
                        <p>Завтрак, отель Naithonburi. фитнес пакет 3-4 тренировки в день на выбор, 
                        3 тренера . Танцы, йога, фитнес, возможность заниматься персонально по любому направлению.</p>
                        <p>Цена: <span class='price'>60 000 на человека</span></p>
                    </div>
                    <div class="card-action">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <div class="card">
                    <div class="card-image">
                        <img src="static/images/bagami.jpg">
                        <span class="card-title">ДРУЖЕСКАЯ НОВОГОДНЯЯ ДАЙВ-РЕГАТА НА БАГАМАХ</span>
                    </div>
                    <div class="card-content">
                        <p><span class='title'>Багамы</span></p>
                        <p>31 декабря по 10 января 2017</p>
                        <p>Необитаемые острова, 
                        пустынные просторы розового песка, буйство красок зелени, в этих краях вас 
                        удивит смесь культур разных народов, микс обычаев и языков. В дополнение к программе, 
                        для любителей будет организовано несколько погружений с аквалангом, которые удивят 
                        не только новичков, но и опытных дайверов.</p>
                        <p>Цена: <span class='price'>1 800 € на человека</span></p>
                    </div>
                    <div class="card-action">
                        <a href="#">Подробнее</a>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Здесь можно постить полезную инфу</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Не знаю нужно это или нет</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

{% endblock %}
{%block body_extra %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel.carousel-slider').carousel({full_width: true, time_constant: 10});
        });
    </script>
{% endblock %}
