{% extends "base.html" %}
{%block extra_head %}

{%endblock%}
{%block content %}
    <div class="main">
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="static/images/Silovye_trenerovki.jpg"> <!-- random image -->
                <div class="caption center-align">
                    </br>
                        <h3>Силовые тренировки!</h3>
                    </div>
            </li>
            <li>
                <img src="static/images/Joga_tury.jpg"> <!-- random image -->
                    <div class="caption center-align">
                    </br>
                        <h3>Йога туры</h3>
                </div>
            </li>
            <li>
                <img src="static/images/Extrimalny_otdykh.jpg"> <!-- random image -->
                    <div class="caption center-align">
                    </br>
                        <h3>Экстримальный отдых</h3>
                    </div>
            </li>
            <li>
                <img src="static/images/Trenengi_lichnostnogo_rosta.jpg"> <!-- random image -->
                    <div class="caption center-align">
                    </br>
                        <h3>Тренинги личностного роста</h3>
                    </div>
            </li>
        </ul>
    </div>
    </div>

  <div class="container">
      <div class="section"> 
          <h4>Ближайшие события</h4>

      <!--   Icon Section   -->
      <div class="row">
        {% for tour in tours %}
        <div class="col s12 m4">
            <div class="icon-block">
                <div class="card">
                    <div class="card-image">
                        <img src="{{url_for('static', filename=tour.image)}}">
                        <span class="card-title">{{tour.title}}</span>
                    </div>
                    <div class="card-content">
                        <div class="price">{{tour.place}}<span id="price">{{tour.price}}</span></div>
                        <p><strong>Даты: </strong>{{tour.date}} {{tour.nights}}</p>
                        <p><strong>{{tour.service}}</strong></p>
                        <p>{{tour.info}}</p>
                        
                    </div>
                    <div class="card-action">
                        <a href="{{url_for('tour_details', tour=tour.slug)}}" class="btn" data-target="tour_details">Подробнее</a>
                        <div id="tour_details" class="modal">
                        <div class="modal-content">
                            <div class="col s12 m10 offset-m1">
                            <h4>{{tour.title}}</h4>
                            <img id="details_image" src="{{url_for('static', filename = tour.image)}}">
                            <p><strong>Даты: </strong>{{tour.date}} {{tour.nights}}<span id="price">{{tour.price}}</span></p>
                            <p>{{tour.service}}</p>
                            <p><strong>{{tour.service}}</strong></p>
                            <p>{{tour.body|safe }}</p>
                            
                        </div>
                        </div>
                        <div class="modal-footer">
                        <a class=" modal-action modal-close waves-effect btn-flat grey">Закрыть</a>
                        <a class=" modal-action waves-effect btn-flat green" data-target="modal1">Заказать</a>
                        </div>
                        </div>

                        <!-- <a  href="{{url_for('tour_details', tour=tour.slug)}}">Подробнее</a> -->
                        <a class="btn-floating  green" data-target="modal1">
                            <i class="large material-icons">done</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>О Нашем Сайте</h4>
          <p class="left-align light">
          Этот ресурс создан для всех, кто любит увлекательные путешествия, саморазвитие и хорошие компании! 
          Мы сами ищем интересные события и предлагаем их Вам. Мы делаем для Вас уникальные тренинги, и вы можете 
          приходить к нам снова и снова за новыми впечатлениями. Все тренеры, представленные на нашем сайте, являются 
          действующими профессионалами и имеют опыт проведения выездных мероприятий. Команда сайта - это люди, знающие 
          туристическую и тренинговую деятельность изнутри. Наш ресурс постоянно растет, и вы можете пользоваться им каждый раз, 
          идя по пути развития и открытия новых впечатлений. </br>Желаем вам приятного отдыха!</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="static/images/Otdykh_v_khoroshey_kompanii.jpg" alt="Unsplashed background img 3"></div>
  </div>

{% endblock %}
{%block body_extra %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.slider').slider();
            $('.modal').modal();
        });
    </script>
{% endblock %}
